.Unavailible {
	padding: 50px 20px;
	text-align: center;
	display: block;
	width: 100%;
    font-size: 22px;
    font-weight: 400;
    font-family: sailec,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    color: #404245;
}
