.Login {
	box-sizing: border-box;
	background: white;
	padding: 5px;
}

.Header {
	font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    color: #262626;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 15px;
}

.Form {
    padding: 10px 25px;
    font-family: 'Open Sans', sans-serif;
}

.Container {
    background: white;
    border-radius: 4px;
    margin: 0 auto 40px;
    padding: 28px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,.1);
    display: flex;
    max-width: 962px;
}

.InputContainer {
	margin-bottom: 20px;
	margin: 0;
    min-width: 0;
}

.Image {
    width: 60%;
    border: 0;
    box-sizing: border-box;
    position: relative;
    height: auto;
}

.Section1 {
    font-size: 16px;
    padding: 4.25em;
    max-width: 1000px;
    display: block;
    box-sizing: border-box;
    color: #404245;
    font-family: sailec,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.Section1Header {
    margin-top: 10px;
    font-size: 1.3125em;
    font-weight: 700;
    margin: 1em auto;
    text-align: center;
    width: 100%;
}

.Section1Description {
    font-size: 1.125em;
    line-height: 1.33333;
}

.Section2 {
    width: 100%;
    border-left: 0.85px solid rgba(0,0,0,0.1)
}


.Section2Header {
    margin-top: 10px;
    font-size: 1.3125em;
    font-weight: 700;
    line-height: 1.33333;
    padding: 0;
    text-align: center;
    width: 21em;
    color: #404245;
    font-family: sailec,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.Button {
    background: #0c0466;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    outline: none;
    border: none;
}

.Button:hover {
    background: #534f82;
    cursor: pointer;
}

.ForgotPassword {
    padding: 10px;
    margin-top: 0px;
    box-sizing: border-box;
    border-bottom: 0.85px solid rgba(0,0,0,0.1)
}

.ForgotPasswordLink {
    font-family: sailec,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 400;
    line-height: 1.2rem;
    color: #0091ff;
    text-decoration: none;
}
.ForgotPasswordLink:hover {
    color: #045ea3;
}

.RegisterText {
    margin-top: 20px;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    font-family: sailec,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.RegisterLink {
    margin-top: 10px;
    font-family: sailec,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 400;
    line-height: 1.2rem;
    color: #0091ff;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
}

.RegisterLink:hover {
    color: #045ea3;
}

.Loader {
    justify-content: center;
    position: fixed;
    z-index: 100;
    top: 0;
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    transition: all 0.3s ease-out;
}

.ErrorMessage {
    font-weight: 400;
    margin: 10px 0 0;
    display: inline-block;
    padding-right: 10px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Helvetica, Arial, sans-serif !important;
    color: red;
}
