.PasswordReset {
	width: 100%;
	box-sizing: border-box;
	background: white;
}

.Content {
	margin: 1rem auto;
	padding: 16px;
	max-width: 32rem;
	box-sizing: border-box;
}

.Header {
	font-family: sailec,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
	line-height: 1.25;
	font-size: 20px;
	color: #404345;
	font-weight: 400;
}

.Description {
	font-size: 14px;
	color: #5a5c5e;
	line-height: 1.5;
	font-weight: 400;
	box-sizing: border-box;
	font-family: sailec,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;

}

.Button {
    background: #0c0466;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 12.5px;
    outline: none;
    border: none;
    margin-bottom: 20px;
}

.Button:hover {
    background: #534f82;
    cursor: pointer;
}

.RegisterBox {
	margin-top: 10px;
	background-color: #f5f6f7;
	padding: 8px;
	box-sizing: border-box;
	font-family: sailec,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5a5c5e;
}

.Link {
    margin-top: 10px;
    color: #0091ff;
    width: 100%;
    text-decoration: none;
}

.Link:hover {
    color: #045ea3;
}

.Email {
	font-size: 15px;
	line-height: 1.5;
	margin: 32px auto;
	font-weight: 300;
	color: #5a5c5e;
}

.RegisterHeader {
	font-size: 16px;
	font-weight: 400;
}