.Toolbar {
	height: 56px;
	width: 100%;
	position: fixed;
	top:0;
	left: 0;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
	z-index: 90;
	box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.1);
	transition: background .15s linear;
}